body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navIcon{
  width: 3rem;
}
.flexContainer {
  display: flex;
  gap: 1rem;
}

.linStyle {
  text-decoration: none;

}
.contentCenter{
  display: flex;
  justify-content: center;
  align-content: center;
}
.active {
  color: grey;
  /*pointer-events: none;*/
  text-decoration: none;
}

.disable {
  color: white;
  text-decoration: none;
}